<html>
<head>
    <title>Redirecting to Vote</title>
    <meta http-equiv="refresh" content="0;url=${baseurl}/secure/PokerVote!default.jspa?key=${key}&instant=true">
</head>
<body>
<p>Redirecting to voting...</p>
</body>
</html>
